# Ignore everything
*
!*/
ToonDrifter/*
# But not these files...
!.gitignore
!ToonDrifter/Assets/
!ToonDrifter/Assets/**
!ToonDrifter/ProjectSettings/
!ToonDrifter/ProjectSettings/**
!ToonDrifter/Packages/
!ToonDrifter/Packages/**
*.DS_Store*